#root {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 0;
  }
}

.main-section {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px 0 0 0;
}