.goonr-container {
    background-color:#907090;
    padding:10px;
    border-radius: .5em;
    border-bottom: 2px solid black;
}

.npc-form {
    display:flex;
    justify-content:center;
    margin-bottom:5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.npc-display {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.npc-field {
    margin: 0 10px 5px 0;
    text-align: left;
}

@media (max-width: 800px) {
    .npc-form {
        flex-direction: column;
    }
    .goonr-container {
        width: 100%;
    }
}